.pm-content-dashboard {
  display: grid;
  grid-template-columns: 170px 1fr 170px;
  grid-template-rows: auto;
  grid-template-areas: "left middle right";
  height: 100%;
  width: auto;
  margin: 0;
}
.pm-content-dashboard-left {
  grid-area: left;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  height: calc(100% - 42px) !important;
  box-shadow: 0 0 3px #3c485826 !important;
}

.pm-content-dashboard-middle {
  grid-area: middle;
/*   width: auto!important; */
  max-width: 66.5vw;
  padding: 0 8px;
}
.pm-content-dashboard-right {
  grid-area: right;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  height: calc(100% - 42px) !important;
  box-shadow: 0 0 3px #3c485826 !important;
}
.e-accordion {
  border: none!important;
}
.e-acrdn-header {
  background-color: #dadcec!important;
  border-radius: 20px!important;
}
.e-accordion .e-acrdn-item .e-acrdn-header:hover {
  background-color: #dadcec;
}
.e-accordion .e-acrdn-item.e-select.e-active>.e-acrdn-header .e-acrdn-header-content,
.e-accordion .e-acrdn-item.e-select.e-item-focus>.e-acrdn-header .e-acrdn-header-content {
  border: none!important;
}
.pm-content .pm-content-dashboard #pm-grid-container .e-grid {
    height: 98% !important;
}